/* Standard form container */
.form-container {
    height: 100vh;
    width: 90%;
    max-width: 20rem;
    margin-top: 13rem;
    margin-left: auto;
    margin-right: auto;
}

/* Standard form header */
.form-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Override react-cropper styles */
.cropper-view-box, .cropper-drag-box, .cropper-wrap-box, .cropper-container, .cropper-crop-box {
    border-radius: 50%;
}